
  
  .recipe{
    box-shadow: 10px 16px 37px -30px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 16px 37px -30px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 16px 37px -30px rgba(0,0,0,0.52);
    width: 45%;
    min-width: 260px;
    height: max-content;
    margin: 1em auto;
    text-align: center;
    transition: all 200ms ease;
    background-color: hsl(0, 0%, 90%);
    position: relative;
    z-index: 1;

  }
  .recipe:hover, .recipe:active{
    transform: scale(1.002);
    background-color: hsl(0, 0%, 85%);
  }
  .title a:hover{
    text-decoration: underline;
  }
  .title a{
    text-decoration: none;
    color: rgb(39, 39, 131);
  }
  .recipe h4{
    text-align: left;
    padding: 0 0.5em;
  }
  .recipeImg{
    overflow: hidden;
    width: 100%;
    max-width: 180px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto; 
  }
  .recipe img{
    transition: transform 200ms ease;
    object-fit: cover;
  }
  .ingredients{
    text-align: left;
    padding: 0 1.5em;
  }
  .recipe ol{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @media (max-width: 875px) {
      .recipe{
        width: 100%;
      }
  }