@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
  background: #fff;
}
img{
  width: 100%;
  object-fit: cover;
}

.navbar{
  background-color: #1f3057;
  padding: 1em ;
}
.search-form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/food.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  margin: 0 auto;
}

.search-bar{
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  border: none;
  padding: 0.6em;
  border: 2px solid black;
}

.search-button{
  padding: 0.6em 1.2em;
  background: lightcoral;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 100ms ease;
  border: 2px solid black;
}
.search-button:hover{
  color: #fff;
}
.search-button:active{
  transform: scale(0.95);
}

.search-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: blueviolet;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 200ms ease;
}
.search-button:hover::after{
  transform: scaleY(1);
  transform-origin: top;
}

.recipes{
  width: 60%;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

@media (max-width:765px) {
  .search-form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .search-bar{
    width: 50%;
    text-align: center;
  }
  
}
@media (max-width:875px) {
  .recipes{
    flex-direction: column;
    width: 80%;
  }
}
