@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
img{
  width: 100%;
  object-fit: cover;
}

.navbar{
  background-color: rgb(144, 224, 144);
  padding: 1em ;
}
.search-form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/food.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  margin: 0 auto;
}

.search-bar{
  width: 30%;
  border: none;
  padding: 0.6em;
  border: 2px solid black;
}

.search-button{
  padding: 0.6em 1.2em;
  background: lightcoral;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 100ms ease;
  border: 2px solid black;
}
.search-button:hover{
  color: #fff;
}
.search-button:active{
  transform: scale(0.95);
}

.search-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: blueviolet;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 200ms ease;
}
.search-button:hover::after{
  transform: scaleY(1);
  transform-origin: top;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
